:root {
    --font-principale: "Montserrat", sans-serif;
}


body{
    margin: 0;
    font-family: var(--font-principale);
    background-color: #EFE8E3;
}

/* Style du header */

header{
    margin: 25px;
    background-image: linear-gradient(#C9D7E0, #E5EBEF);
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
    padding: 16px;
    justify-content: space-between;
}

header>img{
    width: 30px;
}

.titre{
    font-weight: 900;
    font-size: 24px;
}

.espace{
    width: 30px;
}


svg{
    height: 600px;
    width: auto;
}


/* Zone de la carte du monde */

/* Couleur de base pour les pays sans données */
path {
    fill: #e0e0e0;
    stroke: #ffffff;
    stroke-width: 0.5;
}

.card{
    margin: 25px;
}


.card, .card2, .card_stat1, .card_stat2{
    background-color: #F1EEE8;
    padding: 12px;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
    font-size: 14px;
}


h1{
    font-size: 24px;
}

.bloc_map{
    display: flex;
    margin: 25px;
    position: relative;
}

span{
    font-weight: 700;
}

.card2{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

p{
    margin: 1px;
}


.card_stat1, .card_stat2{
    max-width: 170px;
    text-align: center;
}

.card_stat1{
    position: absolute;
    left: 30%;
    top: 50%;
}

.card_stat2{
    position: absolute;
    left: 60%;
    top: 75%;
}

.stat{
    font-size: 24px;
    font-weight: 900;
    color: #6FA3B5;
}



.map_info>svg{
    width: 100%;
    height: auto;
    display: block;
}















:root {
            --liquid-color: #3498db;
            --glass-bg: #f1f5f9;
        }

        body { font-family: sans-serif; background: #e2e8f0; display: flex; justify-content: center; padding: 50px; }
        
        .chart-container { 
            display: flex; 
            gap: 20px; 
            background: white; 
            padding: 40px; 
            border-radius: 20px; 
            box-shadow: 0 10px 30px rgba(0,0,0,0.1);
        }

        .bottle-unit { display: flex; flex-direction: column; align-items: center; }

        .percentage-label { font-weight: bold; font-size: 1.2rem; margin-bottom: 10px; color: #333; }

        .bottle-svg { width: 80px; height: auto; overflow: visible; }

        /* Transition CRUCIALE pour voir le mouvement */
        .liquid-fill {
            transition: all 1.5s ease-out;
        }

        .year-label { margin-top: 15px; font-weight: bold; color: #666; }

        .liquid-fill {
    fill: #3498db !important; 
    transition: all 1.5s ease-out;
}

/* On s'assure que le fond de la bouteille n'écrase pas tout */
.bottle-svg path[fill="var(--glass-bg)"] {
    fill: #f1f5f9 !important;
}

/* On s'assure que le contour reste transparent à l'intérieur */
.bottle-svg path[fill="none"] {
    fill: none !important;
}

/* Ajustement pour que tes bouteilles ne fassent pas 600px comme la carte */
.bottle-unit .bottle-svg {
    height: 250px; 
    width: auto;
}