:root {
    --font-principale: "Montserrat", sans-serif;
}


body{
    margin: 0;
    font-family: var(--font-principale);
    background-color: #EFE8E3;
}

/* Style du header */

header{
    margin: 25px;
    background-image: linear-gradient(#C9D7E0, #E5EBEF);
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
    padding: 16px;
    justify-content: space-between;
}

header>img{
    width: 30px;
}

.titre{
    font-weight: 900;
    font-size: 24px;
}

.espace{
    width: 30px;
}


svg{
    height: 600px;
    width: auto;
}


/* Zone de la carte du monde */

/* Couleur de base pour les pays sans données */
path {
    fill: #e0e0e0;
    stroke: #ffffff;
    stroke-width: 0.5;
}


.card, .card2, .card_stat{
    background-color: #F1EEE8;
    padding: 12px;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
    font-size: 14px;
}


h1{
    font-size: 24px;
}

.bloc_map{
    display: flex;
}

span{
    font-weight: 700;
}

.card2{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

p{
    margin: 1px;
}


.card_stat{
    max-width: 170px;
    text-align: center;
}

.stat{
    font-size: 24px;
    font-weight: 900;
    color: #6FA3B5;
}



.map_info>svg{
    width: 100%;
    height: auto;
    display: block;
}

