@media screen and (max-width: 479px) {

    /* Style du header */


    .titre-court {
        font-weight: 900;
        font-size: 24px;
    }

    .titre{
        display: none
    }



    /* Zone de la carte du monde */

    main{
        padding: 8px;
    }


    /* Burgers */
    .burger-homme{
        width: 150px;
    }




    /* BOUTEILLES  */
    #chart {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* s’adapte à l’écran */
        gap: 25px; /* espace entre les bouteilles */
        justify-items: center; /* centre chaque bouteille dans sa cellule */
        background-color: #E6EEF7;
        padding: 25px;
        box-shadow: 0 8px 24px rgba(0,0,0,0.5);
        border-radius: 16px;
    }

    /* FOOTER  */

    footer{
        background-color:#1F3A5F;
        color: #fff;
        text-decoration: none;
        padding: 32px;
    }

    .haut-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        text-align: center;
    }

    .menu-footer{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    footer div a{
        text-decoration: none;
        color: #fff;
        display: flex;
        flex-direction: column;
    }


}